.dropdown {
    position: absolute;
    background-color: #c9bb9c;
    margin-left: 5px;
}

.dropdown-inner {
    display: flex;
    flex-direction: row;
}

.dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 25px 15px 25px 15px;
    flex: 1fr;   
}

.dropdown ul li {
    padding-bottom: 5px;
}

.dropdown ul li a {
    color: black;
    font-weight: 200;
    text-decoration: none;
}

.dropdown ul li a:hover {
    color: black;
    font-weight: 200;
    text-decoration: underline;
}