.shop-heading {
    font-size: 4rem;
    font-weight: 900;
    padding: 0 0 0 18px;
    margin: 0;
    -webkit-text-stroke: 0.01px black;
    text-transform: uppercase;
    display: flex;
}

.shop-heading a {
    color: black;
    text-decoration: none;
}

ul.shop-listing{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    align-items: stretch;

    grid-gap: 40px 5px;
    padding: 5px;
}

ul.shop-listing li.shop-listing-item {
    list-style: none;
}

ul.shop-listing li.shop-listing-item a .item-listing img {
    max-width: 100%;
}

ul.shop-listing li.shop-listing-item a {
    text-decoration: none;
    color: black;
}