.item-listing .item-listing-details {
    margin: 7px 15px;
}

.item-listing .item-listing-details p {
    margin-top: 0px;
    margin-bottom: 4px;
}

.item-listing .item-listing-details .name p {
    font-size: .9em;
    margin-bottom: 2px;
}

.item-listing .item-listing-details .fit p {
    font-size: .75em;
    font-weight: 300;
}

.item-listing .item-listing-details .price p {
    font-size: .85em;
    font-weight: 300;
}

ul.shop-listing li.shop-listing-item a .item-listing .item-listing-image {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    /*aspect-ratio: 1;*/
    /*background-position: center;*/
}

ul.shop-listing li.shop-listing-item a .item-listing .item-listing-image img {
    scale: 1.15;
    max-width: 100%;
    overflow: hidden;
    transition: 0.125s;
    vertical-align: top;
    background-position: center;
}

ul.shop-listing li.shop-listing-item a .item-listing .item-listing-image img:hover {
    transform: scale(1.05);
}

ul.shop-listing li.shop-listing-item a {
    text-decoration: none;
    color: black;
}